#AppContainer::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  content: '';
  z-index: 999;
}

.app {
  width: 100%;
  max-width: var(--content-page);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.app-top,
.app-bottom {
  flex: none;
  position: relative;
  display: block;;
}

.app-content {
  flex: 1;
  position: relative;
  display: block;
  margin-top: var(--nav-height);
}