*,
*::before,
*::after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: 0;
}

html {
	font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
	color: var(--color-contrast-higher);
	font-size: var(--text-base-size);
	font-weight: normal;
	font-smooth: always;
	line-height: 1.5;
	letter-spacing: inherit;
	margin: 0 auto;
	display: block;
	position: relative;
	background: var(--color-bg);
}

body.no-scroll {
	overflow: hidden;
	width: 100%;
  @include bp(md) {
    position: fixed;
  }
}

header {
	display: block;
	height: auto;
	width: 100%;
}

::-moz-selection {
	color: var(--color-contrast-lower);
	background: var(--color-contrast-higher);
	text-shadow: none;
}

::selection {
	color: var(--color-contrast-lower);
	background: var(--color-contrast-higher);
	text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--color-contrast-medium);
	margin: 1em 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.2;
}

p {
	margin: 0;
	padding: 0;
	position: relative;
}

a {
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
}

a:hover, a:focus {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}

ul,
ol,
dd,
dt {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

nav ul,
nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin-left: 5%;
	& > li + li {
		margin-top: var(--space-sm);
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https: */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

img,
video {
	-webkit-user-drag: none;
	vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Allow only vertical resizing of textareas. */
textarea {
	resize: vertical;
}

/* ==========================================================================
 * Browser Upgrade Prompt
 * ========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: var(--color-contrast-medium);
	color: var(--color-contrast-higher);
	padding: 0.2em 0;
}
